@{
    ViewBag.Title = "Home Page";
}
<h4>
    Employee List
</h4>
<hr />

<div class="row">
    <table id="employeeTable" class="table table-striped" cellspacing="0">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Middle Initial</th>
                <th>Start Date</th>
                <th>Birth Date</th>
                <th>Sex</th>
            </tr>
        </thead>
    </table>
</div>



@section Scripts{
    <script>
        $(function () {
            $("#employeeTable").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "ajax": {
                    url: "@Url.Action("SearchEmployeeAction", "Home")",
                    type: "POST",
                    dataSrc: function (data) {
                        return JSON.parse(data.data);
                    }
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "columns": [
                        { "data": "FirstName" },
                        { "data": "LastName" },
                        { "data": "MiddleName" },
                        { "data": "StartDate" },
                        { "data": "BirthDate" },
                        { "data": "Sex" }
                ]
            });
        });
    </script>
}